<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/EmployeeViewModel");
    <script src="~/Scripts/knockout-3.5.0.debug.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script>
     $(document).ready(function () {
         $("btnShowDetails").click(function() {
        alert(accViewModel.Id + " " + accViewModel.Salary())
        })
        $("#btnDeposit").click(function () {
        accViewModel.Salary(accViewModel.Salary() + Number($("#txtAmount").val()));
        })
        $("#btnAddAccount").click(function () {
        var acc = new Account($("#txtNewId").val(),$("#txtNewName").val(),$("#txtSalary").val())
        accViewModel.Accounts.push(acc);
        alert(accViewModel.Accounts().length)
        })
        $("#btnDeleteAccount").click(function () {
            accViewModel.Accounts.pop();

        })

        $("#ddlAccounts").change(function() {
            var selInd = document.getElementById("ddlAccounts").selectedIndex;
               accViewModel.SelectedAccountIndex(selInd);

        })
    })
    </script>

</head>
<body>

    @{
        ViewBag.Title = "Accounts";
    }

    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    Account ID's'
    <select id="ddlAccounts" data-bind="options:Accounts,optionsText:'Name',optionsValue:'Id'"></select><br />
    Total Number of Accounts:<span data-bind="text:Accounts().length"></span>

    <hr />
    <h3>Selected Account Details</h3>
    Id:<span data-bind="text: Accounts()[SelectedAccountIndex()].Id"></span><br />
    Name:<span data-bind="text: Accounts()[SelectedAccountIndex()].Name"></span><br />
    Salary:<span data-bind="text: Accounts()[SelectedAccountIndex()].Salary"></span><br />
    <input type="button" id="btnShowDetails" value="ShowDetails" />



    <hr />
    New Id:<input type="text" id="txtNewId" value="" /><br />
    New Name:<input type="text" id="txtNewName" value="" /><br />
    New Salary:<input type="text" id="txtSalary" value="" /><br />
    <input type="button" id="btnAddAccount" value="Add Account" />
    <input type="button" id="btnDeleteAccount" value="Delete Account" />


    <script>
    //this is model object
    function Account(id,name,salary) {
    this.Id =id;
    this.Name = name;
    this.Salary = salary;
    }

    //this is View Model
    function AccountViewModel(acc) {
    this.Id = acc.Id;
    this.Name = acc.Name;
    this.Salary = ko.observable(acc.Salary);
    var a1 = new Account(1,"Personal Account",10000)
    var a2 = new Account(2,"Business Account",20000)
    var a3 = new Account(3,"Temporary Account",30000)
    this.Accounts = ko.observableArray([a1,a2,a3])
    this.SelectedAccountIndex = ko.observable(0)
    }

    var acc = new Account(1, "A2", 10000);
    var accViewModel = new AccountViewModel(acc);

    ko.applyBindings(accViewModel);


    


    </script>
</body>
</html>





