@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<button class="btn btn-secondary" data-bind="click: ">Contacts</button>

<button class="btn btn-third" data-bind="click: deleteNewEmployee">Delete</button>

<button class="btn btn-fourth" data-bind="click: editNewEmployee">Edit</button>



<h1 type="text" data-bind="text: login"></h1>
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>