<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/EmployeeViewModel");
    <script src="~/Scripts/knockout-3.5.0.debug.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script>
     $(document).ready(function () {
         $("btnShowDetails").click(function() {
        alert(accViewModel.Id + " " + accViewModel.Balance())
        })
        $("#btnDeposit").click(function () {
        accViewModel.Balance(accViewModel.Balance() + Number($("#txtAmount").val()));
        })
        $("#btnAddAccount").click(function () {
        var acc = new Account($("#txtNewId").val(),$("#txtNewName").val(),$("#txtNewBalance").val())
        accViewModel.Accounts.push(acc);
        alert(accViewModel.Accounts().length)
        })
        $("#btnPopAccount").click(function () {
            accViewModel.Accounts.pop();

        })
    })
    </script>

</head>
<body>

    @{
        ViewBag.Title = "Accounts";
    }

    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

        Account ID's'
    <select data-bind="options:Accounts,optionsText:'Name',optionsValue:'Id'"></select>
        Total Number of Accounts:<span data-bind="text:Accounts().length"></span>

    <hr />
    <h2>Account Details</h2>
    Id:<span data-bind="text: Id"></span><br />
    Name:<span data-bind="text: Name"></span><br />
    Balance:<span data-bind="text: Balance"></span><br />
    <input type="button" id="btnShowDetails" value="ShowDetails" />

    <hr />
    Amount:<input type="text" id="txtAmount" />
    <input type="button" id="btnDeposit" value="Deposit" />

    <hr />
    New Balance:<input type="text" data-bind="value:Balance" />

    <hr />
    New Id:<input type="text" id="txtNewId" value="" /><br />
    New Name:<input type="text" id="txtNewName" value="" /><br />
    New Balance:<input type="text" id="txtNewBalance" value="" /><br />
    <input type="button" id="btnAddAccount" value="Add Account" />
    <input type="button" id="btnPopAccount" value="Pop Account" />


    <script>
    //this is model object
    function Account(id,name,balance) {
    this.Id =id;
    this.Name = name;
    this.Balance = balance;
    }

    //this is View Model
    function AccountViewModel(acc) {
    this.Id = acc.Id;
    this.Name = acc.Name;
    this.Balance = ko.observable(acc.Balance);
    var a1 = new Account(1,"A1",10000)
    var a2 = new Account(2,"A2",20000)
    var a3 = new Account(3,"A3",30000)
    this.Accounts = ko.observableArray([a1,a2,a3])
    }

    var acc = new Account(1, "A2", 10000);
    var accViewModel = new AccountViewModel(acc);

    ko.applyBindings(accViewModel);
    </script>
</body>
    </html>

    
