@{
    ViewBag.Title = "Home Page";
    
}

<div class="well">

    <form>

        <div class="form-group">

            <label for="firstName">First Name</label>

            <input class="form-control" type="text" data-bind="value: firstName" />

        </div>

        <div class="form-group">

            <label for="lastName">Last Name</label>

            <input class="form-control" type="text" data-bind="value: lastName" />

        </div>

        <div class="form-group">

            <label for="emailAddress">Email Address</label>

            <input class="form-control" type="text" data-bind="value: emailAddress" />

        </div>

        <div class="form-group">

            <label for="phoneNumber">Phone Number</label>

            <input class="form-control" type="text" data-bind="value: phoneNumber" />

        </div>

        <button class="btn btn-primary" data-bind="click: addNewEmployee">Add</button>

        

        <button class="btn btn-primary" data-bind="click: displayData">View</button>

        <ul class="list" data-bind="foreach: employees, visible: employees().length > 0">
            <li class="big" data-bind="text:FirstName"></li>
            <li data-bind="text:LastName"></li>
            <li data-bind="text:EmailAddress"></li>
        </ul>

        <h1 type="text" data-bind="text: login"></h1>
    </form>
</div>

<div class="row">

</div>
@section scripts{
    @Scripts.Render("~/bundles/EmployeeViewModel");
    <script src="~/Scripts/knockout-3.5.0.js"></script>
    <script type="text/javascript">
        $(function () {
            var viewModel = new EmployeeViewModel();

            ko.applyBindings(viewModel);
        });

    </script>
}